/*btn-el*/

.btn-el {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    display: none;
  }

  span {
    text-align: center;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    border: 2px solid rgba(30, 30, 30, 0.5);
    box-sizing: border-box;
    position: relative;
    transition: 0.3s;
    flex-shrink: 0;
    background: #d9d9d9;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  input:checked + span {
    border: none;
    background: #efa1c3;
    color: #fff;
  }

  &__item {
    margin: 5px 0;
    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__radio {
    @include min1024 {
      &:hover {
        .btn-el__button {
          background: #efa1c3;
          color: #efeeee;
        }
      }
    }
  }

  &__button {
    font-size: 14px;
  }
}

/*End btn-el*/


