<!-- btn-el -->

<ul class="btn-el">
  <li class="btn-el__item">
    <label class="btn-el__radio">
      <input
        type="radio"
        name="toggle"
        checked=""
        class="radio__input"
      />
      <span class="btn-el__button">XS</span>
    </label>
  </li>
  <li class="btn-el__item">
    <label class="btn-el__radio">
      <input
        type="radio"
        name="toggle"
        class="radio__input"
      />
      <span class="btn-el__button">S</span>
    </label>
  </li>

  <li class="btn-el__item">
    <label class="btn-el__radio">
      <input
        type="radio"
        name="toggle"
        class="radio__input"
      />
      <span class="btn-el__button">M</span>
    </label>
  </li>

  <li class="btn-el__item">
    <label class="btn-el__radio">
      <input
        type="radio"
        name="toggle"
        class="radio__input"
      />
      <span class="btn-el__button">L</span>
    </label>
  </li>

  <li class="btn-el__item">
    <label class="btn-el__radio">
      <input
        type="radio"
        name="toggle"
        class="radio__input"
      />
      <span class="btn-el__button">XL</span>
    </label>
  </li>
</ul>

<!--End btn-el -->
