<!-- card-slider-carousel -->

<div class="swiper mySwiper2 card-product__slider   ">
  <div class="swiper-wrapper">

      <div class="swiper-slide slider-carousel__slide">
        <a class="video" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
          <button class="video-play btn-reset">
            <img loading="lazy" src="img/img-video.svg" class="image"  alt="img">
          </button>
        </a>
      </div>

      <div class="swiper-slide slider-carousel__slide">
        <a class="image-link" data-fancybox="gallery" href="img/card-img.jpg">
          <picture>
            <source srcset="img/slide2.webp" type="image/webp">
            <img loading="lazy" src="img/slide2.png" class="image"  alt="Slide 1">
          </picture>
        </a>
      </div>

      <div class="swiper-slide  slider-carousel__slide" >
        <a class="image-link" data-fancybox="gallery" href="img/card-img.jpg">
          <picture>
            <source srcset="img/slide3.webp" type="image/webp">
            <img loading="lazy" src="img/slide3.png" class="image"  alt="Slide 1">
          </picture>
        </a>
      </div>

      <div class="swiper-slide slider-carousel__slide">
        <a class="image-link" data-fancybox="gallery" href="img/card-img.jpg">
          <picture>
            <source srcset="img/slide4.webp" type="image/webp">
            <img loading="lazy" src="img/slide4.png" class="image"  alt="Slide 1">
          </picture>
        </a>
      </div>

      <div class="swiper-slide slider-carousel__slide">
        <a class="image-link" data-fancybox="gallery" href="img/card-img.jpg">
          <picture>
            <source srcset="img/slide5.webp" type="image/webp">
            <img loading="lazy" src="img/slide5.png" class="image"  alt="Slide 1">
          </picture>
        </a>
      </div>

      <div class="swiper-slide slider-carousel__slide">
        <a class="image-link" data-fancybox="gallery" href="img/slide6.png">
          <picture>
            <source srcset="img/slide6.webp" type="image/webp">
            <img loading="lazy" src="img/slide6.png" class="image"  alt="Slide 1">
          </picture>
        </a>
      </div>
  </div>
</div>

<!-- bottom slider -->
<div class="swiper mySwiper gallery slider-carousel ">
  <div class="swiper-wrapper gallery__wrapper">
    <div class="gallery__image swiper-slide" >
      <picture>
        <source srcset="img/mini.webp" type="image/webp">
        <img loading="lazy" src="img/mini.png"  class="image" alt="Slide 3">
      </picture>
    </div>
    <div class="gallery__image swiper-slide"  >
      <picture>
        <source srcset="img/slide2.webp" type="image/webp">
        <img loading="lazy" src="img/slide2.png"  class="image" alt="Slide 1">
      </picture>
    </div>

    <div class="gallery__image swiper-slide" >
      <picture>
        <source srcset="img/slide3.webp" type="image/webp">
        <img loading="lazy" src="img/slide3.png"  class="image" alt="Slide 3">
      </picture>
    </div>
    <div class="gallery__image swiper-slide" >
      <picture>
        <source srcset="img/slide4.webp" type="image/webp">
        <img loading="lazy" src="img/slide4.png"  class="image" alt="Slide 4">
      </picture>
    </div>
    <div class="gallery__image swiper-slide" >
      <picture>
        <source srcset="img/slide5.webp" type="image/webp">
        <img loading="lazy" src="img/slide5.png"  class="image" alt="Slide 5">
      </picture>
    </div>
    <div class="gallery__image swiper-slide">
      <picture>
        <source srcset="img/slide6.webp" type="image/webp">
        <img loading="lazy" src="img/slide6.png"  class="image" alt="Slide 6">
      </picture>
    </div>

  </div>

  <div class="swiper-button-next slider-carousel__next slider-carousel__btn"></div>
  <div class="swiper-button-prev slider-carousel__prev slider-carousel__btn"></div>
</div>

<!--End card-slider-carousel -->





