<!-- characteristics -->

<div class="card-product__name name-h2">
  Технические характеристики
</div>

<ul class="card-product__characteristics characteristics">
  <li class="characteristics__list">
    <span class="characteristics__description"
      >Артикул:</span
    >
    <span class="characteristics__result">4354565</span>
  </li>

  <li class="characteristics__list">
    <span class="characteristics__description"
      >Обьём:</span
    >
    <span class="characteristics__result">0,02 л</span>
  </li>

  <li class="characteristics__list">
    <span class="characteristics__description">Вес:</span>
    <span class="characteristics__result">5 г</span>
  </li>

  <li class="characteristics__list">
    <span class="characteristics__description"
      >Размер:</span
    >
    <span class="characteristics__result">15х12</span>
  </li>

  <li class="characteristics__list">
    <span class="characteristics__description"
      >Страна производитель:</span
    >
    <span class="characteristics__result">Китай</span>
  </li>

  <li class="characteristics__list">
    <span class="characteristics__description">Год:</span>
    <span class="characteristics__result">2023</span>
  </li>
</ul>

<!--End characteristics -->
