<!-- delivery-buttons -->

<div class="name-h2">Доставка</div>
<ul class="delivery-button">
  <li class="delivery-button__item">
    <label class="radio-delivery">
      <input type="radio" name="delivery" checked="" class="radio-delivery__input">
      <span class="radio-delivery__button">Самовывоз</span>
      <strong class="delivery-button__info">*бесплатно</strong>
    </label>
  </li>

  <li class="delivery-button__item">
    <label class=" radio-delivery">
      <input type="radio" name="delivery" class="radio-delivery__input">
      <span class="radio-delivery__button">Курьером</span>
      <strong class="delivery-button__info">*стоимость доставки от 400 руб</strong>
    </label>
  </li>

  <li class="delivery-button__item">
    <label class=" radio-delivery">
      <input type="radio" name="delivery" class="radio-delivery__input">
      <span class="radio-delivery__button">СДЭК</span>
      <strong class="delivery-button__info">*стоимость доставки от 300 руб</strong>
    </label>
  </li>

  <li class="delivery-button__item">
    <label class=" radio-delivery">
      <input type="radio" name="delivery" class="radio-delivery__input">
      <span class="radio-delivery__button">Почтой</span>
      <strong class="delivery-button__info">*стоимость доставки от 330 руб</strong>
    </label>
  </li>
</ul>

<!--End delivery-buttons -->
