<!-- market-play-list -->

<div class="name-h2">Маркетплейсы</div>
<ul class="list-button">
  <li class="list-button__element">
    <a
      target="_blank"
      href="https://www.ozon.ru/"
      class="list-button__link"
    >
      <img
        loading="lazy"
        src="img/ozon.png"
        class="list-button__image"
        alt="PlushStory"
      />
      <div class="list-button__contain">
        <span>Купить на</span>
        Ozon
      </div>
    </a>
  </li>
  <li class="list-button__element">
    <a
      target="_blank"
      href="https://www.wildberries.ru/"
      class="list-button__link"
    >
      <img
        loading="lazy"
        src="img/wildberries.png"
        class="list-button__image"
        alt="PlushStory"
      />
      <div class="footer__contain">
        <span>Купить на</span>
        Wildberries
      </div>
    </a>
  </li>
  <li class="list-button__element">
    <a
      target="_blank"
      href="https://market.yandex.ru/"
      class="list-button__link"
    >
      <img
        loading="lazy"
        src="img/yandex.png"
        class="list-button__image"
        alt="PlushStory"
      />
      <div class="footer__contain">
        <span>Купить на</span>
        Яндекс Маркете
      </div>
    </a>
  </li>
</ul>

<!--End market-play-list -->

