<!-- price-block -->

<div class="name-h2">Цены</div>

<div class="price-block">
  <ul class="price-block__inner">
    <li class="price-block__item">
      <div class="price-block__sum">50 ₽</div>
      <div class="price-block__quantity">1-20 шт</div>
    </li>

    <li class="price-block__item">
      <div class="price-block__sum">35 ₽</div>
      <div class="price-block__quantity">21-98 шт</div>
    </li>

    <li class="price-block__item">
      <div class="price-block__sum">25 ₽</div>
      <div class="price-block__quantity">99-999 шт</div>
    </li>
  </ul>
</div>

<!--End price-block -->
