<!-- product-cart -->

<div class="name-h2">Цвет</div>

<div class="product-cart">
  <ul class="product-cart__inner">
    <li class="product-cart__item">
      <div class="product-cart__img">
        <picture>
          <source
            srcset="img/product-cart.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="img/product-cart.png"
            class="image"
            width=""
            height=""
            alt="product"
          />
        </picture>
      </div>

      <div class="product-cart__description">
        <span class="product-cart__text"
          >Цвет Жёлтый</span
        >
      </div>

      <span class="product-cart__quantity">
        В наличие 15 шт
      </span>

      <!-- stepper -->
        @include('stepper.html')
      <!--End stepper -->
    </li>

    <li class="product-cart__item">
      <div class="product-cart__img">
        <picture>
          <source
            srcset="img/product-cart.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="img/product-cart.png"
            class="image"
            width=""
            height=""
            alt="product"
          />
        </picture>
      </div>

      <div class="product-cart__description">
        <span class="product-cart__text"
          >Цвет Чёрный</span
        >

        <span class="product-cart__text">Размер: S</span>
      </div>

      <span class="product-cart__quantity">
        В наличие 15 шт
      </span>
      <!-- stepper -->
        @include('stepper.html')
      <!--End stepper -->
    </li>

    <li class="product-cart__item">
      <div class="product-cart__img">
        <picture>
          <source
            srcset="img/product-cart.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="img/product-cart.png"
            class="image"
            width=""
            height=""
            alt="product"
          />
        </picture>
      </div>

      <div class="product-cart__description">
        <span class="product-cart__text"
          >Цвет Красный</span
        >

        <span class="product-cart__text">Размер: </span>


      <!-- btn-el -->
        @include('btn-el.html')
      <!--End btn-el -->

      </div>

      <span class="product-cart__quantity">
        В наличие 15 шт
      </span>

      <!-- stepper -->
        @include('stepper.html')
      <!--End stepper -->
    </li>

    <li class="product-cart__item">
      <div class="product-cart__img">
        <picture>
          <source
            srcset="img/product-cart.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="img/product-cart.png"
            class="image"
            width=""
            height=""
            alt="product"
          />
        </picture>
      </div>

      <div class="product-cart__description">
        <span class="product-cart__text"
          >Цвет Жёлтый</span
        >
      </div>

      <span class="product-cart__quantity">
        В наличие 15 шт
      </span>

      <!-- stepper -->
        @include('stepper.html')
      <!--End stepper -->
    </li>
  </ul>
</div>

<!--End product-cart -->
