<div class="stepper">
  <button class="stepper__btn stepper__btn--down stepper__btn--disabled" aria-label="Уменьшить количество">
    <svg class="stepper__svg">
      <use xlink:href="img/sprite.svg#minus"></use>
    </svg>
  </button>
  <label class="stepper__field">
    <input type="text" value="1" maxlength="6" class="stepper__input">
    <span class="stepper__text">шт</span>
  </label>
  <button class="stepper__btn stepper__btn--up" aria-label="Увеличить количество">
    <svg class="stepper__svg">
      <use xlink:href="img/sprite.svg#plus"></use>
    </svg>
  </button>
</div>
