<!-- text-dropdown -->

<div class="js-text">
  <div class="js-text__content">
    <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi in mollitia praesentium ratione et aliquid obcaecati nihil? Perferendis non cupiditate, deserunt eum ex maxime architecto sit, at, dolore eaque doloribus!
    </p>
    <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi in mollitia praesentium ratione et aliquid obcaecati nihil? Perferendis non cupiditate, deserunt eum ex maxime architecto sit, at, dolore eaque doloribus!
    </p>
  </div>
  <button class="js-text__more-button" type="button" data-opening-text="Подробнее" data-closing-text="Свернуть">Подробнее</button>
</div>

<!-- End text-dropdown -->
